# Test dosyaları
test_*.bin
*.bin

# Test dosyaları ve klasörü
test-files/
src/test-files/

*.sh

# Derleme dosyaları
*.class

# Log dosyaları
*.log

# IDE dosyaları
.vscode/
.idea/
*.iml

# OS dosyaları
.DS_Store
Thumbs.db